body {
  background-color: rgb(26, 26, 26);
}
div {
    display: block;
    font-size:30px;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    top: 0;
    text-align: center;
    left: 0;
}
img {
  width: 80%;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 14px;
}
#p1{
  color: white 
}
#fileSelect{
  display: none;
}
#input-file {
    display: none;
    }
.drop_zone {
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    width: 80%;
    background-color: white;
    height: 200px;
    transition-duration: 0.1s;
    margin-bottom: 35px;
}
.drop_zone:hover {
  background-color: rgb(255, 255, 51);
  color: lightgray;
}
#myProgress {
  width: 100%;
  height: 30px;
  background-color: "white";
}
#myBar {
  width: 0%;
  height: 30px;
  background-color: rgb(255, 255, 51);
}
.mobile {
  display: block
}
.desktop {
  display: none
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white; 
  color: black; 
  margin: auto;
  display: block;
}
.button1:hover {
  background-color: rgb(255, 255, 51);
  color: black;
}

@media (min-width:500px) {
  /* For mobile phones: */
  .drop_zone {
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    width: 80%;
    background-color: white;
    height: 150px;
    transition-duration: 0.5s;
    margin-bottom: 35px;
  }
  img {
    width: 50%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

